.material-icons.md-10 {
    font-size: 10px;
    color: red;
}
.material-icons.md-15 {
    font-size: 15px;
    color: orange;
}
.material-icons.md-20 {
    font-size: 20px;
    color: yellow;
}
.material-icons.md-25 {
    font-size: 25px;
    color: green;
}
.material-icons.md-30 {
    font-size: 30px;
    color: blue;
}
.material-icons.md-35 {
    font-size: 35px;
    color: indigo;
}
.material-icons.md-40 {
    font-size: 40px;
    color: violet;
}
.material-icons.md-45 {
    font-size: 45px;
    color: red;
}
.material-icons.md-50 {
    font-size: 50px;
    color: orange;
}
.material-icons.md-55 {
    font-size: 55px;
    color: yellow;
}
.material-icons.md-60 {
    font-size: 60px;
    color: green;
}
.material-icons.md-65 {
    font-size: 65px;
    color: blue;
}