#content {
    max-width: 1600px;
    margin: 0 auto;
}
.home-grid, .form-grid, .faq-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.logo {
    width: 150px;
    border-radius: 50%;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #6e25be;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: #25bebb;
    text-decoration: none;
    font-size: 2.5em;
    font-family: 'Cinzel', serif;
    padding: 35px;
}
nav a:hover {
    background-color: #74be25;
    color: white;
}
body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
.container {
    position: relative;
    align-items: center; 
    padding: 30px;
}
.mySlides {
    display: none;
    border: 5px solid black;
    border-radius:10px;
}
.cursor {
    cursor: pointer;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: black;
    background-color: #6f7364;
    opacity: .6;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.next {
    right: 30px;
    border-radius: 3px 0 0 3px;
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    width: 20%;
}
.demo {
    opacity: 0.8;
}
.active, .demo:hover {
    opacity: 1;
}
.home-title {
    font-family: 'Permanent Marker', cursive;
    text-shadow: 2px 2px white;
    color: #be2528;
}
.home-msg {
    font-family: 'Cinzel', serif;
    text-shadow: 2px 2px white;
    color: #0f0f0f;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 3px;
}
#hero-img {
    width: 100%;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px black;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
.msg {
    background-color: #163c4b;
    padding: 35px;
    grid-column: 4/8;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px #6f7364;
    border: 10px solid black;
    border-radius: 10px;

}
.msg h2 {
    color: #74be25;
    font-family: 'Permanent Marker', cursive;
    padding-bottom: 12px;
}
.msg p {
    color: #25bebb;
    font-size: .7em;
    font-family: 'Roboto', serif;
    line-height: 1.5em;
}
.button {
    background-color: #be2528;
    margin-top: 50px;
    padding: 35px;
    grid-column: 5/7;
    border: 10px solid black;
    border-radius: 10px;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.button h1 {
    color: white;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    opacity: .95;
    transition: transform .5s;
    transform: scale(1.1);
}
#form-title{
    grid-column: 5/7;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 2px 2px black;
    color: #be2528;
}
.form-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    text-align: left;
    display: grid;
    margin: 30px;
    padding: 30px;
    background-color: #163c4b;
    border-radius: 10px
}
.choose {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 2px 2px black;
    color: #be2528
}
#when-q {
    grid-column: 1/4;
    grid-row: 1/2;
    color: #25bebb;

}
.age-q{
    grid-column: 1/4;
    grid-row: 2/3;
    margin-top: 30px;
    color: #25bebb;

}
.where-q {
    grid-column: 1/4;
    grid-row: 3/4;
    margin-top: 30px;
    color: #25bebb;

}

#when {
    grid-column: 7/10;
    grid-row: 1/2;
    margin-bottom: 40px;
    font-size: .90em;
    color: #74be25;
}
#age {
    grid-column: 7/9;
    grid-row: 2/3;
    margin: 40px;
    color: #74be25;
}
#where {
    grid-column: 7/9;
    grid-row: 3/4;
    margin: 40px;
    color: #74be25;
}

.button a{
    color: #25bebb;
    text-decoration: none;
}
#form-msg {
    grid-column: 2/10;
    font-size: .75em;
    text-align: left;
    font-family: 'Roboto', serif;
    padding: 35px;
    line-height: 1.5em;
}
#find {
    grid-column: 5/8;
    grid-row: 7/8;
    width: 100%;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 2px 2px black;
    color: #be2528;
    text-align: center;
    font-size: 2em;
}
#zip {
    display: none;
}
#result {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
}
#imgHere {
    grid-column: 2/3;
    border: 10px solid black;
    border-radius: 10px;

}
#compass {
    width: 100%;
    grid-column: 2/4;
}
.faq-title {
    font-family: 'Permanent Marker', cursive;
    text-shadow: 2px 2px black;
    color: #be2528;
    text-align: center;
    font-size: 2em;
}
.faq-msg h4{
    grid-column: 2/10;
    font-size: .75em;
    text-align: left;
    font-family: 'Roboto', serif;
    padding: 35px;
    line-height: 1.5em;
}
.faq-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr 1fr;
    text-align: left;
    display: grid;
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
    background-color: #163c4b;
    color: #74be25;
}
.que1 {
    grid-column: 1/5;
    grid-row: 1/2;
    margin-left: 30px;
    color: #25bebb;
    font-size: 1.25em;
}
.que2 {
    grid-column: 1/5;
    grid-row: 2/3;
    margin-left: 30px;
    color: #25bebb;
    font-size: 1.25em;

}
.que1, .que2, #when-q, .where-q, .age-q{
    font-family: 'Cinzel', serif;
    text-shadow: 1px 1px black;

}
.ans1 {
    grid-column: 6/10;
    grid-row: 1/2;
}
.ans2 {
    grid-column: 6/10;
    grid-row: 2/3;
}
footer {
    background-color: #6e25be;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer h3 {
    color: #25bebb;
    font-size: 2em;
}
footer a {
    color: #25bebb;
    text-decoration: none;
}
footer a:hover {
    color: white;
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        font-family: 'Permanent Marker', cursive;
        text-shadow: 2px 2px black;
        color: #be2528;
    }
    footer {
        margin-top: 25px;
    }
}