body {
    background-color: rgb(253, 253, 253);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin: 0;
}
#hero-image {
    width: 100%;
    grid-column: 2/3;
}
h1 {
    font-family: 'Patua One', serif;
    font-weight: 100;
    margin-top: -25px;
}
h4 {
    color: rgba(150, 150, 250, 0.938);
    font-family: 'Patua One', serif;
    font-weight: 100;
}
h5 {
    margin-top: -23px;

}
p {
    color: grey;
    font-family: 'Patua One', serif;
    font-weight: 100;
}